<h3>New Comment</h3>

<%= bootstrap_form_for([@post, @post.comments.build]) do |f| %>
  <%= f.text_area :content%>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :post_id, value: params[:format] %>
  <%= f.form_group do %>
    <%= button_tag(class: "btn btn-default  btn-xs") do %>
      <i class="glyphicon glyphicon-ok"></i> Submit
    <% end %>
  <% end %>
<% end %>

<%= link_to :back, class: 'btn btn-default btn-xs' do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Back 
<% end %>
