<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<div class="btn-group">
<%= link_to posts_path, class: 'btn btn-default btn-xs' do %>
  <i class="glyphicon glyphicon-arrow-left"></i> Back 
<% end %>
<%= link_to edit_post_path(@post), class: 'btn btn-primary btn-xs' do %>
  <i class="glyphicon glyphicon-pencil"></i> Edit
<% end %>
</div>
