<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || "Rails Forum"%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "shared/navigation" %>

  <div id="main-container" class="container-fluid">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
        <% flash.each do |name, message| -%>
        <%= content_tag :div, message, class: "alert alert-#{name}" %>
        <% end -%>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-8">
        <%= yield %>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
  </div>
</body>
</html>
